PORT=5000
MONGODB_URI=mongodb+srv://MessMaster:Mess01@cluster0.mongodb.net/messmaster
JWT_SECRET=1e5d104b7efbe635c17eb0af76eeaf733e76ab8afcce9db3f0e340dcfa2b2960
JWT_REFRESH_SECRET=07ff0b399412c5c0b73d80927d1ece1e2a9bad1a31dc1ef4272ee25ae111969f
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
GEMINI_API_KEY=AIzaSyD5uoLZByhfbmJE6t5B-qm-Gqz57jdzv_k
CLIENT_URL=http://localhost:5173
BCRYPT_SALT_ROUNDS=12
NODE_ENV=development